* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.navbar {
  background-color: hsl(0, 0%, 98%);
}

.container-fluid {
  max-width: 1440px;
}

a,
.nav-link {
  color: hsl(0, 0%, 41%);
  margin-left: 1rem;
}

.navbar-brand {
  font-weight: 700;
}

.cta__secondary {
  background-color: transparent;
  border: none;
  padding: 8px 24px;
  color: gray;
}

.cta__primary {
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 30px;
  color: hsl(0, 0%, 41%);
  border-radius: 15px;
  font-weight: 500;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main-section {
  max-width: 1200px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 8rem;
}

p {
  font-size: 0.9rem;
  color: gray;
  max-width: 328px;
  line-height: 1.3;
  margin-top: 1.7rem;
}

.main-button {
  color: white;
  background-color: black;
  padding: 6px 20px;
  border: none;
  border-radius: 10px;
  font-size: 0.85rem;
  margin-top: 1rem;
}

.social {
  margin-top: 7rem;
}
.social img {
  margin-right: 2rem;
}

.hero-image {
  max-width: 70%;
  margin-top: 2rem;
  margin-left: 9rem;
}

@media (max-width: 768px) {
  .container-fluid {
    max-width: 90%;
  }

  .row {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  h1 {
    max-width: 95%;
    margin-top: 3rem;
    font-size: 2.5rem;
    text-align: center;
  }
  p {
    max-width: 95%;
    text-align: center;
    font-size: 1rem;
  }

  .main-button {
    margin: 2rem auto;
    display: block;
  }

  .hero-image {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
  }

  .social {
    max-width: 99%;
    margin-top: 3rem;
  }

  .social img {
    margin-right: 0.4rem;
    width: 20%;
    padding-bottom: 2rem;
  }

  .navbar {
    width: 100%%;
  }
}
